@import "tailwindcss";

@theme {
  --color-sub: #282c34;
  --color-main: #3b4250;
  --color-shadow: rgba(97, 218, 251, 0.6);
  --color-subsub: rgba(10, 8, 11, 0.2);
  --color-tab: #8499ac;
  --color-white: #ebedee;
  --color-green: #3cb371;
  --color-blue: #61dafb;
}
