@import "tailwindcss";

@theme {
  --color-main: #3B4250;
  --color-sub: #282c34;
  --color-subsub: #897272;
  --color-tab: #8499AC;
  --color-white: #EBEDEE;
  --color-green: #3CB371;
  --color-red: #B82132;
}